.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #fff;
  color: #000;
  /* border: 2px dashed #fff; */
}

.customMarker {
  background-image: url(/public/circulo_azul.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.customMarker span {
  display: block;
  /* margin-left: 38%; */
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: x-large;
}

.location-control {
  top: 55px !important;
  z-index: 500 !important;
}

.legend-control {
  top: 102px !important;
  z-index: 500 !important;
}

.piragua-control {
  top: 100px !important;
  z-index: 500 !important;
}

.dropdown-station {
  position: relative;
  font-size: small;
  top: 10px !important;
  left: 20px !important;
  z-index: 1000 !important;
}

.station-panel-control {
  background-color: #fff;
  /* bottom: ; */
  bottom: 12% !important;
  height: 25% !important;
  left: 6% !important;
  right: 6% !important;
  width: auto;
  z-index: 1000 !important;
  border-radius: 20px !important;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  position: absolute !important;
}

.close-button {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  z-index: 1002 !important;
}

.hide {
  display: none;
}

body {
  padding-bottom: env(safe-area-inset-bottom);
}

.boton-graficar {
  position: absolute !important;
  right: 20px !important;
  bottom: 20px !important;
  z-index: 1002 !important;
  font-size: x-small !important;
}

.station-panel-content {
  position: absolute;
  bottom: 20%;
  top: 20%;
  left: 20%;
  right: 20%;
}

.station-panel-value {
  position: absolute;
  top: 5%;
  left: 15%;
  color: #6394cf;
  font-size: 500%;
  text-align: center;
}
