.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #fff;
  color: #000;
  /* border: 2px dashed #fff; */
}

.customMarker {
  background-image: url(/public/circulo_azul.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.customMarker span {
  display: block;
  /* margin-left: 38%; */
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-size: x-large;
}

.location-control {
  top: 60px !important;
  z-index: 500 !important;
}

.piragua-control {
  top: 100px !important;
  z-index: 500 !important;
}
